
* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  display: flex;
  background: #f5f5f5;
  margin-bottom: 50px;
}

main .item img:hover {
  transform: scale(1.1);
}
